h1 {
    color: black;
}
h1 {font-family: 'Segoe UI',}
h1 {font-size: 16px;}
h1 {text-align: center;}
h1 {font-style: normal}

hr.solid {
    border-top: 3px solid #bbb;
}
hr.solid {
    border-color: black;
}
 h1{
    letter-spacing: 5px;
 }

 .topnav {
    overflow: hidden;
    background-color: white;
  }
  .topnav {text-align: right}
  h2
  {text-align: left;}
  header{
    font-family: 'Segoe UI';
  }
  header
  {
    letter-spacing: 5px;}
    header {font-size: 200%;}

    header.solid {
        border-top: 3px solid black;
    }
    hr.solid {
        border-color: black;}
    p 
    {font-family: 'Segoe UI',}
    p{font-size: 20px;
    }


img {float: right;
    transform: scaleX(-1);
}