html {
    box-sizing: border-box;
}

body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

header {
    position: relative;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    position: absolute;
    top: 6rem;
    left: 3rem;
}

nav ul li {
      display: inline;
    margin-left: 0.5rem;
}

main {
    margin: 1rem auto;
    width: 150%;
}

main section {
    margin-top: 4rem;
    padding: 2rem;
}
 
img {
    position: left;
    width: 1000px;
    height: 500px;
 }

 .About {
    margin-top: -6rem;
}
 
.img-gallery{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
}

.img-gallery > img {
    width: 60%;
    height: 100%;
}